In [6]:
import pandas as pd

student_data = pd.read_csv('data/students_performance.csv', sep=',')

In [7]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [ ]:
# Данные о скольких студентах содержатся в таблице?

student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [ ]:
# Каков балл по письму у студента под индексом 155?

student_data.loc[155]

gender                               female
race/ethnicity                      group C
parental level of education    some college
lunch                              standard
test preparation course           completed
math score                               70
reading score                            89
writing score                            88
Name: 155, dtype: object

In [ ]:
# Сколько суммарно пропущенных значений в таблице?

student_data.isna().sum().sum()

np.int64(0)

In [ ]:
# Сколько столбцов в таблице имеет тип данных object?

student_data.dtypes[student_data.dtypes == 'object'].count()

np.int64(5)

In [ ]:
# Средний балл по математике?

student_data["math score"].mean()

np.float64(66.089)

In [ ]:
# Какая расовая группа является самой крупной в учебном заведении?

student_data["race/ethnicity"].value_counts().idxmax()

'group C'

In [25]:
# Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?

# Фильтрация студентов, посещавших курсы подготовки
prep_students = student_data[student_data["test preparation course"] == 'completed']

# Вычисление среднего балла по чтению
average_reading_score = prep_students["reading score"].mean()

print(f"Средний балл по чтению у студентов, посещавших курсы подготовки: {average_reading_score:.2f}")

Средний балл по чтению у студентов, посещавших курсы подготовки: 73.89

In [ ]:
# Сколько студентов получили 0 баллов по математике?

zero_math_scores_count = (student_data["math score"] == 0).sum()

print(f"Количество студентов, получивших 0 баллов по математике: {zero_math_scores_count}")

Количество студентов, получивших 0 баллов по математике: 1

In [ ]:
# Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
# В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.

# Вычисление среднего балла по математике для каждой группы
mean_math_scores = student_data.groupby("lunch")["math score"].mean()

# Определение наибольшего среднего балла
highest_average_score = mean_math_scores.max()

print(f"Наибольший средний балл по математике среди групп: {highest_average_score:.2f}")

Наибольший средний балл по математике среди групп: 70.03

In [ ]:
# Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?

# Подсчёт студентов с уровнем образования родителей "bachelor's degree"
bachelor_count = (student_data["parental level of education"] == "bachelor's degree").sum()

# Общее количество студентов
total_students = len(student_data)

# Вычисление процента
bachelor_percentage = (bachelor_count / total_students) * 100

print(f"Процент студентов, родители которых имеют уровень бакалавриата: {bachelor_percentage:.2f}%")

Процент студентов, родители которых имеют уровень бакалавриата: 11.80%

In [ ]:
# Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?
# Округлите ответ до целого и запишите модуль этого числа.


# Фильтрация данных для группы A и C
group_A = student_data[student_data["race/ethnicity"] == "group A"]
group_C = student_data[student_data["race/ethnicity"] == "group C"]

# Вычисление медианы для группы A и среднего для группы C
median_A = group_A["writing score"].median()
mean_C = group_C["writing score"].mean()

# Разница между медианой для A и средним для C
difference = median_A - mean_C

# Округление разницы до целого и нахождение модуля
rounded_difference = round(difference)
absolute_difference = abs(rounded_difference)

absolute_difference

# print(f"Медианный балл по письму для группы A: {median_A}")
# print(f"Средний балл по письму для группы C: {mean_C}")
# print(f"Разница: {difference}")

6