# Программирование на Python
### Условные конструкции
#### Задача 3 (с прошлого занятия)

Вы хотите помочь другу разобраться в Python, но он знает только Excel. Представим, что он хочет округлить действительное число, но не знает как это сделать в Python. Зато он помнит, как это можно сделать в его любимом Excel: с помощью функций [ОКРУГЛ](https://support.microsoft.com/ru-ru/office/%D1%84%D1%83%D0%BD%D0%BA%D1%86%D0%B8%D1%8F-%D0%BE%D0%BA%D1%80%D1%83%D0%B3%D0%BB-c018c5d8-40fb-4053-90b1-b3e7f61a213c), [ОКРУГЛВВЕРХ](https://support.microsoft.com/ru-ru/office/%D0%BE%D0%BA%D1%80%D1%83%D0%B3%D0%BB%D0%B2%D0%B2%D0%B5%D1%80%D1%85-%D1%84%D1%83%D0%BD%D0%BA%D1%86%D0%B8%D1%8F-%D0%BE%D0%BA%D1%80%D1%83%D0%B3%D0%BB%D0%B2%D0%B2%D0%B5%D1%80%D1%85-f8bc9b23-e795-47db-8703-db171d0c42a7) и [ОКРУГЛВНИЗ](https://support.microsoft.com/ru-ru/office/%D0%BE%D0%BA%D1%80%D1%83%D0%B3%D0%BB%D0%B2%D0%BD%D0%B8%D0%B7-%D1%84%D1%83%D0%BD%D0%BA%D1%86%D0%B8%D1%8F-%D0%BE%D0%BA%D1%80%D1%83%D0%B3%D0%BB%D0%B2%D0%BD%D0%B8%D0%B7-2ec94c73-241f-4b01-8c6f-17e6d7968f53). Пользователь будет вводить Excel-выражение (любое из возможных согласно документации по ссылкам), а вам надо преобразовать его в соответствующий Python-код и вывести результат.

**Пример:**

```
input:
ОКРУГЛ(1,5136;2)

output:
1.51
```

In [ ]:
excel_code = input('Введите выражение Excel: ')

floatint = excel_code.strip('ОКРУГЛВЕРХИЗН()')
f, i = floatint.split(';')

f = float(f.replace(',', '.'))
i = int(i)

# здесь без ветвления не обойтись
if excel_code.startswith('ОКРУГЛВВЕРХ'):
    f_mult = f * 10 ** i

    if f_mult == int(f_mult):
        solution = int(f_mult) / 10 ** i
    else:
        solution = (int(f_mult) + 1) / 10 ** i

    if i == 0:
        solution = int(solution)

    print(solution)
elif excel_code.startswith('ОКРУГЛВНИЗ'):
    if i == 0:
        print(int(f))
    else:
        print(int(f * 10 ** i) / 10 ** i)
else:
    if i == 0:
        print(round(f))
    else:
        print(round(f, i))

#### Задача 1
Мы имеем словарь, в котором ключами являются идентификаторы испытуемых, а значениями - показатели датчиков за 10 дней. Нужно получить такой же словарь, но с числами (или с нулем вместо `'error'`).

In [ ]:
data = {
    'patient1': ['-2.47', '10.414', '-20.147', '71.253', '6.184', '18.686', '14.767', '8.407', '49.355', '17.055'],
    'patient2': ['-11.368', '71.067', '-31.519', 'error', '12.197', '-23.183', '28.052', '21.437', '19.261', '67.036'],
    'patient3': ['-44.866', '-42.591', '32.409', '62.916', '23.356', 'error', '-52.277', '-20.885', '21.307', '10.846'],
    'patient4': ['-50.765', 'error', '-26.627', 'error', '6.523', '11.412', 'error', '40.828', '-21.127', '-11.693'],
    'patient5': ['5.076', '91.697', '-47.169', '-21.875', '-52.227', '20.551', '30.118', '-0.114', '25.138', '-21.818'],
    'patient6': ['-15.347', '-27.504', '-33.92', '-45.092', '-23.837', '-15.655', '-43.795', '30.521', '68.682', '18.174'],
    'patient7': ['4.825', '-22.918', 'error', '16.429', 'error', '15.604', '-27.403', 'error', '7.14', '26.587']
}

In [ ]:
# наш код здесь

#### Задача 2
У вас есть геном бактерии E.coli, лежащий в fasta-файле. Найдите 2 самых частых и 2 самых редких 6-мера. Постарайтесь обойтись одной итерацией по файлу для составления словаря частот.

Эту задачу можно также разделить на составляющие.
##### 2.1
Считайте значения построчно, отделив ненужные строки:

In [ ]:
# наш код здесь

##### 2.2
Вы имеете строку `line` с нуклеотидами. Решите исходную задачу конкретно для нее.

In [ ]:
line = 'GCTTTTCATTCTGACTGCAACGGGCAATATGTCTCTGTGTGGATTAAAAAAAGAGTGTCTGATAGCAGCT'

# наш код здесь

##### 2.3
Теперь у вас есть 2 линии: предыдущая и текущая. Выполните то же самое, что и в прошлом пункте, считая две последовательности за единую. Соединять последовательности нельзя.

In [ ]:
line_prev = 'GCTTTTCATTCTGACTGCAACGGGCAATATGTCTCTGTGTGGATTAAAAAAAGAGTGTCTGATAGCAGCT'
line = 'TCTGAACTGGTTACCTGCCGTGAGTAAATTAAAATTTTATTGACTTAGGTCACTAAATACTTTAACCAAT'

# наш код здесь

#### Задача (практическая)
**Задача предназначена для решения на нескольких семинарах. На каждом будут выполняться те составляющие, которые возможно выполнить на текущем уровне подготовки.**

Мы хотим автоматизировать процесс перекладки текстовых файлов с данными из хранилища в БД (Postgres). Предположим, что таблицы каждый раз разные. Соответственно, перед записью данных необходимо создать таблицу. Это можно сделать примерно так:

```SQL
CREATE TABLE distributors (
    did integer,
    name varchar(40)
);
```

PostgreSQL [располагает](https://www.postgresql.org/docs/current/datatype.html) следующими типами данных (это не все, что есть, но все, что нам сейчас пригодится):

<table>
    <tr>
        <th>Python</th>
        <th>PostgreSQL</th>
    </tr>
    <tr>
        <td>int</td>
        <td>smallint, integer, bigint</td>
    </tr>
    <tr>
        <td>float</td>
        <td>real</td>
    </tr>
    <tr>
        <td>bool</td>
        <td>boolean</td>
    </tr>
    <tr>
        <td>str</td>
        <td>varchar, text</td>
    </tr>
</table>

Реализуйте соответствующую функцию. Она должна иметь следующие аргументы:

- `filename` (строка) - путь к текстовому файлу;
- `sep` (строка, по дефолту для CSV) - разделитель;
- `tablename` (строка, по дефолту соответствует названию файла без расширения, если `None`);
- `varnames` (либо должны быть предоставлены в виде списка, либо добываются из данных если `None`);
- `dtypes` (либо должны быть предоставлены в виде списка, либо добываются из данных если `None`).

Функция должна записывать получившийся скрипт в файл 'create_table.sql' и возвращать путь к этому файлу.

#### Задача 2
Задачу выше можно разделить на следующие этапы:

1. Прочитать файл и собрать данные в структуру:
```python
{
    "колонка": ['значение1', 'значение2', ...],
    "колонка2": [...],
    ...
}
```
2. Угадать тип данных для каждой колонки;
3. Сгенерировать код создания таблицы.

Сейчас нам целесообразно выполнить только пункт 2. Необходимо написать код, который получал бы на вход словарь вида, описанного выше, и пытался бы догадаться о типе каждой колонки. На выходе необходимо иметь кортеж. Некоторые пояснения:

- `smallint` - значения от -32768 до 32767;
- `int` - значения от -2147483648 от 2147483647;
- `bigint` - значения от -9223372036854775808 до 9223372036854775807;
- `varchar(n)` - строка длины, ограченной n (используйте тип text, если максимальное значение длины значения в колонке превышает `100`).

In [ ]:
data_dict = {
    'column_int': ['8', '-16', '-2', '7', '12', '-15', '-7', '-4', '12', '-14', '-3', '5', '2', '9', '11', '18', '-8', '-17', '2', '-14', '-19', '-7'],
    'column_float': ['-0.61', '0.99', '-0.28', '-0.22', '0.81', '0.59', '-0.88', '-0.25', '-0.2', '-0.68', '-0.32', '0.64', '-1.6', '-1.34', '1.31', '1.71', '0.56', '1.43', '-0.47', '-1.43', '-0.48', '-1.46'],
    'column_bool': ['false', 'true', 'false', 'true', 'false', 'true', 'false', 'false', 'true', 'false', 'true', 'false', 'false', 'true', 'false', 'false', 'false', 'false', 'true', 'false', 'false', 'false'],
    'column_text': ['red', 'red', 'orange', 'red', 'blue', 'red', 'red', 'orange', 'red', 'blue', 'red', 'red', 'orange', 'blue', 'red', 'blue', 'orange', 'blue', 'orange', 'red', 'red', 'blue'],
}

In [ ]:
# наш код здесь